<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Listing</title>
</head>
<body>
    <h1> Add new Listing</h1>
    <form method = "POST" action = "/listing/new">
        <input name= "frmListing[propertyName]" placeholder="Enter Title Here" type= "text"> <br><br>
        <input name= "frmListing[price]" placeholder="Enter Price  Here" type = "number"><br><br>
        <input name= "frmListing[city]" placeholder="Enter City Here" type= "text"><br><br>
        <input name= "frmListing[country]" placeholder="Enter Country Here" type= "text"><br><br>
        <button> Add New Listing </button>
    </form>
</body>
</html>